.li{
    list-style: none;
    font-size: x-large;
    cursor: pointer;
}
table{
    border-collapse: collapse;
}
th{
    font-size: x-large;
}
#result-pane table, th,tr, td{
    border: solid 1px darkslategray;
    border-collapse: collapse;
}