body{
    margin: 0px;
    padding: 0px;
    background-color: darkslategray;
}
h2{
    text-align: center;
    color: white;
}
.li{
    list-style: none;
    font-size: large;
    cursor: pointer;
}
.span-link{
    border: darkslategray;
}
a{
    text-decoration: none;
    text-underline: none;
    color: darkblue;
}
a:visited{
    color: darkblue;
}
.card{
    width: 70%;
    height: 250px;
    margin-left: 14%;
    margin-top: 3%;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    border: solid 1px white;
    overflow: auto;
}
.card-fluid{
    width: 70%;
    margin-left: 14%;
    margin-top: 3%;
    margin-top: 2%;
    padding: 2%;
    background-color: white;
    border: solid 1px white;
    overflow: auto;
}
table{
    border-collapse: collapse;
}
th{
    font-size: large;
}
#result-pane table, th,tr, td{
    border: solid 1px darkslategray;
    border-collapse: collapse;
}
.upload-form{
}
input[type="text"]{
    width: 50%;
    font-size: 15px;
    margin: 0.5%;
    margin-right: 2%;
    margin-left: 10%;
    padding: 0.5%;
}
#upload-result-btn{
    width: 20%;
    font-size: large;
}