.li{
    list-style: none;
    font-size: x-large;
    cursor: pointer;
}
.span-link{
    border: darkslategray;
}
a{
    text-decoration: none;
    text-underline: none;
    color: white;
}
a:visited{
    color: white;
}
table{
    border-collapse: collapse;
}
th{
    font-size: x-large;
}
#result-pane table, th,tr, td{
    border: solid 1px darkslategray;
    border-collapse: collapse;
}